@import url('https://fonts.googleapis.com/css?family=Ysabeau SC');
@import url('https://fonts.googleapis.com/css?family=Kablammo');

.Ysabeau {
    font-family: 'Ysabeau SC', cursive;
    font-size: 40px;
}

.Mezmur{
    font-family: 'Kablammo', cursive;
    font-size: 40px;
}

